body {
    font-family: sans-serif;
    width: 280px;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 80px;
}

#preview {
    margin-top: 10px;
    min-height: 30px;
    padding-top: 5px;
}